flows/flows.json
[{"id":"e2f005a1.7591b8","type":"tab","label":"Entry","disabled":false,"info":""},{"id":"6906468.d35c9b8","type":"function","z":"e2f005a1.7591b8","name":"req_entry","func":"\nmsg.payload = msg.payload || {}\n\nif(!msg.payload.name || !msg.payload.email){\n    msg.payload = {\n        error: true,\n        message: \"please check your payload\"\n    }\n    throw 400\n    return msg;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":160,"wires":[["439fcf6d.eb5d1"]]},{"id":"439fcf6d.eb5d1","type":"function","z":"e2f005a1.7591b8","name":"check email","func":"let emailRegex = /([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\\.[a-zA-Z0-9._-]+)/gi\nlet emailMatch = msg.payload.email.match(emailRegex)\n\nif(!emailMatch){\n    msg.payload = {\n        error: true,\n        message: \"this email is invalid\"\n    }\n    throw 400\n    return msg;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":160,"wires":[["d189a340.c1c74"]]},{"id":"7728188b.5027d8","type":"comment","z":"e2f005a1.7591b8","name":"Check User Data","info":"","x":360,"y":120,"wires":[]},{"id":"faec531.d3a37b","type":"http in","z":"e2f005a1.7591b8","name":"POST /users","url":"/users","method":"post","upload":false,"swaggerDoc":"","x":110,"y":160,"wires":[["6906468.d35c9b8"]]},{"id":"8b80d056.d2a4a","type":"comment","z":"e2f005a1.7591b8","name":"Create User","info":"","x":110,"y":120,"wires":[]},{"id":"d189a340.c1c74","type":"function","z":"e2f005a1.7591b8","name":"resp users","func":"\nif(msg.payload.error){\n   msg.statusCode = 400\n   msg.payload = {\n       message: msg.payload.message || \"there was a problem creating the user\"\n   }\n   return msg;\n}\n\nmsg.statusCode = 201\nmsg.payload = {\n   message: \"success creating the user\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":160,"wires":[["7ed7d8f0.a39bd8"]]},{"id":"7ed7d8f0.a39bd8","type":"http response","z":"e2f005a1.7591b8","name":"","statusCode":"","headers":{},"x":720,"y":160,"wires":[]},{"id":"19c4bb65.044ac5","type":"catch","z":"e2f005a1.7591b8","name":"catch error req users","scope":["6906468.d35c9b8","439fcf6d.eb5d1"],"uncaught":false,"x":130,"y":260,"wires":[["21befc8c.41a4f4"]]},{"id":"21befc8c.41a4f4","type":"http response","z":"e2f005a1.7591b8","name":"resp users request","statusCode":"400","headers":{},"x":330,"y":260,"wires":[]},{"id":"ee6b31e4.4ef67","type":"comment","z":"e2f005a1.7591b8","name":"Catch Users Request","info":"","x":140,"y":220,"wires":[]}]